h1{
    color: #ca4595;
    font-size: 20px;
    text-decoration: underline;
    line-height: 1.5;
    border-top: 1.5px solid #ca4595;
    font-style: italic;
}
p{
    font-family: "Times New Roman";
    text-align: right;
    text-indent: 30px;
    font-style: italic;
    width: 700px;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 400;
    width: 700px;
}
img{
    width: 300px;
    height: auto;
}
