
p{
    font-family: "Times New Roman";
    text-align: 30px;
    width: 700px;
}
ul{
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 400;
    width: 700px;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 400;
    width: 700px;
}